<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pàgina inici per saludar</title>
    <meta charset="UTF-8">
</head>
<body>
<button onclick="document.location.href='/empleats/new'" style="height: 25vh; width: 100%; font-size: 5vh">Afegir empleats</button><br/>
<button onclick="document.location.href='/empleats/list'" style="height: 25vh; width: 100%; font-size: 5vh">Llistar empleats</button><br/>
<button onclick="document.location.href='/formulari'" style="height: 25vh; width: 100%; font-size: 5vh">Formulari</button><br/>
</body>
</html>